body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    flex-direction: column; /* Allows stacking of elements */
    /* margin: 10px; */
}

#calculator{
    background-color: #626262;
}

#display{
    background-color: #ffffffa0;
}